@(message: String)

@main("St. Mary's Indian Orthodox Church of Atlanta") {

<link href='http://fonts.googleapis.com/css?family=Norican' rel='stylesheet' type='text/css'>
    
    <h1 style="font-family: 'Norican', cursive;">Welcome to St Mary's Indian Orthodox Church of Atlanta</h1>
          <div id="myCarousel" class="carousel slide">
    <!-- Carousel items -->
    <div class="hero-unit">
    <div class="carousel-inner">
      <div class="active item">
        <div class="span1"></div>
        <img src="https://sites.google.com/a/stmarysatl.com/mainsite/_/rsrc/1337048249128/config/customLogo.gif?revision=27">
      </div>
      <div class="item">
    <h1><small>Sundays</small></h1>
    <p>
      <ul>
  <li>10:15AM: Prabhatha Namaskaram</li>
  <li>11:00AM Holy Qurbana</li>
  </ul></p>
  </div>
      <div class="item">
         <h1><small>Location</small></h1>
        <p><address>
          1950 Old Alabama Rd<br>
          Roswell, GA 30076<br>
        </address></p>
      </div>
    </div>
  </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
  </div>
          <p>St. Mary's Indian Orthodox Church of Atlanta is affiliated with the southwest diocese of the malankara orthodox church. St. Mary's Indian Orthodox Church is a non-profit religious organization, incorporated in the State of Georgia. For the spiritual well-being of its members, the Parish conducts regular Sunday Services and special Liturgical Services on important days, per the Indian Orthodox Church Calendar. We also have separate sessions for the Sunday school, Martha Mariam Samajam, MGSOSM. Under the auspices of the Parish, we conduct regular Prayer Meetings and Bible study classes. </p>

    <p>Our worship service starts with the Morning Prayer (Namaskaram) every Sunday at 10:15AM followed by the Holy Qurbana at 11:00AM. We invite you to join us in prayer and worship our lord Jesus Christ by visiting our calendar. </p>

    <p>May God Bless you abundantly, and keep you in His divine care.</p>
    <p>Many blessings to you,<br>

    Rev. Fr. Dr. Mathew Koshy</p>
    
}