@(message: String)

@main("Our priest") {

<div class="span5 offset4">
        <p><img src="@routes.Assets.at("images/RevFr_MatthewKoshy.jpg")" class="img-rounded"></p>
      </div> 
      <div class="span12">
        <p>Rev. Fr. Dr. Mathew Koshy (Biju achen) was born on August 9th, 1965 as the only child of Mrs. Annamma Koshy and late Mr. T.M Koshy, Kizhakkethalackal, Puthencavu, Chengannur. He was ordained as a priest in July 3rd 1989 by H. G. Thomas Mar Athanasius. He currently resides in Atlanta, GA with his wife Susan and his three children, Bijin, Beena and Sheba. </p>

                  <p>Fr. Mathew Koshy has received his graduate diploma from Orthodox Theological Seminary, Kottayam and graduate degree from Serampore University, India. He earned his Master of Theology degree from Columbia Theological College in Atlanta, Georgia and his Doctoral degree in Pastoral Counseling and Psychotherapy under the guidance of Dr. Immanuel Lartey (Director of Atlanta Theological Association and Professor of Pastoral Counseling at Emory University). He finished his training and received two years of Postgraduate Diploma in Psychotherapy at the American Association of Pastoral Counselors Institute in Atlanta. Now he is doing his Counseling residency.</p>

                     <p>Besides various articles, he has written five books: 
                     <ul>
	                     <li>Malankarayude Mahathwamulla Saithu</li>
	                     <li>Velichathinte Verukal</li> 
	                     <li>Orthodox Viswasa Nirvachanangal</li> 
	                     <li>Healing of the Soul Through Counseling</li>
	                     <li>Orthodox Viswasa Vichinthanangal</li>
                     </ul> 
                  </p>

<p>Achen has served at four different parishes (St. Thomas, Kuttemperoor,St. Thomas, Pandalam, St. Gregorios, Chengannur and St. Thomas Church, Atlanta). He was working as the General Secretary of the Orthodox Sabha Balasamajam for 10 years .He is the founder of OOCA (Oriental Orthodox Churches of Atlanta). Now he is working as the director of the Sunday school Association in the southwest diocese and as Vice- President of MGOCSM South East Region of the Diocese. </p>
    
}